<h2>Signup Page</h2>
<form action="/signup" method="post">
	<label for="psuedo">Psuedo:</label>
	<input type="text" name="psuedo" id="psuedo" />
	<label for="mail">Mail:</label>
	<input type="text" name="mail" id="mail" />
	<label for="password">Password:</label>
	<input type="password" name="password" id="password" />
	<label for="confirmPassword">Confirm password:</label>
	<input type="password" name="confirmPassword" id="confirmPassword" />
	<button type="submit">Sign up</button>
</form>
