<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FindOut</title>
		<link rel="stylesheet" href="/styles/main.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	</head>
	<body>
		<div class = "navbar">
			<%- include('../partials/header.ejs') %>
		</div>

		<div class = "errorMessage">
			<%- include('../partials/errorMessage.ejs') %>
		</div>
		
		<div class = "inner-container">
			<%- body %>
		</div>

		<p>This is where the footer will go soredi terms&conditions and policy</p>
	</body>
</html>
