body{
  background-image: url('../assets/backgroundImg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}


.navbar .logo{
  width: 13.9375rem;
  height: 9.4375rem;
  flex-shrink: 0;
}

.list{
  padding: 0%;
  margin : 0;
  list-style: none;
  display: flex;
  gap : 1rem;
}

.material-symbols-outlined{
  font-size: 3.125rem;
  color: #FFFFFF;
}

