<header>
	<nav class = "navbar">
		<img class="logo" src="/images/logo_findout_blanc.png"/>
		<a href="/">FindOut</a>
		<ul class = "list">
			<a class = "icon" href="/login">
				<span class="material-symbols-outlined" href="/login">
					account_circle
				</span>
			</a>
			<a class ="icon" href="/info">
				<span class="material-symbols-outlined">
					info
				</span>
			</a>
		</ul>
	</nav>
</header>
